In [1]:
# Data Exploration: Toxic Comments

In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv("C:/Users/naimu/Music/Toxic Comment Classification/Toxic Comment Main Project/Input Dataset/test_labels.csv")

In [4]:
train.toxic.value_counts()

-1    89186
 0    57888
 1     6090
Name: toxic, dtype: int64

In [5]:
pd.crosstab(train.toxic, train.severe_toxic)

severe_toxic     -1      0    1
toxic
-1            89186      0    0
 0                0  57888    0
 1                0   5723  367

In [6]:
pd.crosstab(train.toxic, [train.obscene, train.threat, train.insult, train.identity_hate])

obscene           -1      0                           1                     \
threat            -1      0                1          0                  1
insult            -1      0        1       0     1    0         1        0
identity_hate     -1      0   1    0   1   0  1  0    0   1     0    1   0
toxic
-1             89186      0   0    0   0   0  0  0    0   0     0    0   0
 0                 0  57735  14   64   4   5  0  1   49   0    15    1   0
 1                 0   1710  67  539  81  50  8  9  882  21  2108  477  10

obscene
threat
insult          1
identity_hate   0   1
toxic
-1              0   0
 0              0   0
 1             89  39

In [7]:
pd.crosstab(train.severe_toxic, [train.obscene, train.threat, train.insult, train.identity_hate])

obscene           -1      0                            1                    \
threat            -1      0                1           0                 1
insult            -1      0        1       0      1    0         1       0
identity_hate     -1      0   1    0   1   0  1   0    0   1     0    1  0
severe_toxic
-1             89186      0   0    0   0   0  0   0    0   0     0    0  0
 0                 0  59445  81  603  85  55  4  10  903  20  1947  362  6
 1                 0      0   0    0   0   0  4   0   28   1   176  116  4

obscene
threat
insult          1
identity_hate   0   1
severe_toxic
-1              0   0
 0             65  25
 1             24  14

In [8]:
train.iloc[:, 2:8].corr()

               severe_toxic   obscene    threat    insult  identity_hate
severe_toxic       1.000000  0.964344  0.993597  0.965854       0.989528
obscene            0.964344  1.000000  0.961082  0.981528       0.963830
threat             0.993597  0.961082  1.000000  0.963349       0.989284
insult             0.965854  0.981528  0.963349  1.000000       0.967726
identity_hate      0.989528  0.963830  0.989284  0.967726       1.000000

In [9]:
# What make a Comment Toxic

In [17]:
print(train.columns)


null_text_rows = train[train['toxic'].isnull()]

Index(['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'],
      dtype='object')

In [19]:
train[train.toxic == '']

Empty DataFrame
Columns: [id, toxic, severe_toxic, obscene, threat, insult, identity_hate]
Index: []

In [21]:
train['toxic'] = train['toxic'].astype(str)
train['comment_length'] = train['toxic'].str.len()
train['comment_length'].describe()

count    153164.000000
mean          1.582291
std           0.493183
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           2.000000
Name: comment_length, dtype: float64

In [27]:
train = train.sort_values(by="comment_length", ascending=False)
pd.set_option('display.max_colwidth', -1)
train['toxic'].head(1)

C:\Users\naimu\AppData\Local\Temp\ipykernel_21108\474096550.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

0    -1
Name: toxic, dtype: object

In [28]:
one_percent = int(np.ceil(train.shape[0] / 100))
train_sub = train.iloc[0:one_percent, :]
train_sub.toxic.value_counts()

-1    1532
Name: toxic, dtype: int64